@page
@model CandyStore.Pages.ProductTypes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Подробно</h1>

<div>
    <h4>Тип продукции</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductType.ProductTypeName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductType.ProductTypeName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ProductType?.ProductTypeID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
