@page
@model CandyStore.Pages.AboutModel

@{
    ViewData["Title"] = "Managers Category Statistics";
}

<h2>Статистика категорий менеджеров</h2>

<table>
    <tr>
        <th>
            Категории
        </th>
        <th>
            Менеджеры
        </th>
    </tr>

    @foreach (var item in Model.Managers)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @item.ManagerCount
            </td>
        </tr>
    }
</table>
